@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.cdnfonts.com/css/y2k-neophyte');

body {
  margin: 0;
  font-family: 'Y2K Neophyte', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('https://i.pinimg.com/564x/70/06/48/7006482d5428e8fe5e6525c2499ddda5.jpg');
  background-attachment: fixed;
  background-size: 100%;
}

code {
  font-family: 'Y2K Neophyte', sans-serif;
}

.center{
  display:flex;
  flex-direction: column;
  justify-content: center;
}
